In [28]:
odds = [1,3,5,7]
print(odds)

[1, 3, 5, 7]

In [2]:
print("First element in the list", odds[0])

First element in the list 1

In [5]:
print("Last element in the list", odds[-1])

Last element in the list 7

In [6]:
print("Every second element in the list", odds[0::2])

Every second element in the list [1, 5]

In [7]:
names = ["Curie", "Darwing", "Turing"]
print("names is originally", names)
names[1] = "Darwin"
print("Final values of names", names)

names is originally ['Curie', 'Darwing', 'Turing']
Final values of names ['Curie', 'Darwin', 'Turing']

In [10]:
name ="Darwin"
print ("First character in the name", name[0])

First character in the name D

In [11]:
name[0] = "d"

TypeError: 'str' object does not support item assignment

In [13]:
x = [
    ["pepper", "courgette", "onion"],
    ["cabbage", "lettuce", "garlic"],
    ["apple", "pear", "banana"]
]

In [14]:
print(x[0])

['pepper', 'courgetter', 'onion']

In [15]:
print(x[0][1])

courgetter

In [16]:
sample_ages = [10, 12.5, "unknown"]

In [19]:
print(type(sample_ages[0]))
print(type(sample_ages[1]))
print(type(sample_ages[2]))

<class 'int'>
<class 'float'>
<class 'str'>

In [29]:
odds.append(11)
print("Odds after adding a value", odds)

Odds after adding a value [1, 3, 5, 7, 11]

In [30]:
removed_element = odds.pop(0)
print("odds after removing the first element", odds)

odds after removing the first element [3, 5, 7, 11]

In [54]:
string_for_slicing = 'Observation date: 02-Feb-2013'
print(string_for_slicing[-4:])

2013

In [58]:
beatles = "In an octopus's garden in the shade"
print(beatles[0::2])

I notpssgre ntesae